{% extends 'layout/master.html' %}
{% load static %}
{% block title %}
Index Screen

{% endblock %}

{% block content %}
<!-- Section -->
<div id="home" class="white">
    <div class="content center">
        <!-- SLIDER-->
        <!-- Carousel Container -->
 {% include 'layout/slider.html' %}
    </div>
</div><!-- Section Ends -->

<!-- Section -->
<!-- Promo Slider -->
<div id="promo" class="section white">
    <div class="container">
        <div class="content center">

            <h5 class="t-black">AROUND THE WORLD</h5>
            <span class="line gold"></span>
            <h2 class="t-black">It's time to <span class="t-gold">travel</span></h2>
            <h6>Take a look at the most exclusive & most visited locations in the world - hand-picked just for you.<br>
                Start traveling the world today!</h6>

            <div class="mt-50">
                <section class="promo-slider slider">

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-gold">View Promo</span>
                            </div>
                            <div class="promo gold">
                                <span class="t-white">-30%</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">GREECE</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Visit Mikonos</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/mikonos.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-snow">more details</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">VENEZUELA</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Venezuela</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/venezuela.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-snow">more details</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">ITALY - ROME</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Eternal City</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/rome.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-snow">more details</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">AUSTRALIA</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Australia</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/autralia.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-snow">more details</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">SCOTLAND</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Misty Mountains</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/scotland.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-gold">View Promo</span>
                            </div>
                            <div class="promo gold">
                                <span class="t-white">-15%</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">ITALY</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Weekend in Positano</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/positano.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-snow">more details</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">USA - NEW YORK</h5>
                                <span class="line"></span>
                                <h3 class="t-white">New York</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/newyork.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>

                    <!-- Promo Item -->
                    <div class="promo-item">
                        <a href="promo-detail.html" class="link-item">
                            <div class="hover-link">
                                <span class="primary-btn large black t-snow">more details</span>
                            </div>
                            <div class="title">
                                <h5 class="t-gold">MOROCCO</h5>
                                <span class="line"></span>
                                <h3 class="t-white">Morocco Colors</h3>
                            </div>
                        </a>
                        <div class="image">
                            <div class="hover"></div>
                            <img src="{% static "assets/img/promo/morocco.jpg" %}" alt="Exodus" class="img-fluid"></div>
                    </div>
                </section>
                <div class="center"><a href="promo-page.html"
                                       class="mt-50 primary-btn large no-bg border-2 b-black t-black">View All
                    promotions</a></div>
            </div>
        </div>
    </div>
</div><!-- Section Ends -->

<!-- Section -->
<div id="about" class="section video">
    <div class="container">
        <div class="content center">
            <h5 class="t-white">THE AGENCY</h5>
            <span class="line gold"></span>
            <h2 class="t-white">Discovering the <span class="t-gold">World</span></h2>
            <h6 class="t-white paragraph">Passionate about travel and sharing the world's wonders on the leisure travel
                side. We provide corporate travelers hi-touch services to facilitate their business travel needs. Named
                each year as one of the <span class="t-gold">"Best Places To Work"</span> in New York.</h6>

            <a href="about-page.html" class="mt-30 primary-btn large white t-black"><i class="fas fa-video"></i> View
                our showreel</a>
        </div>
    </div>
    <!-- Video Background -->
    <div class="video-back">
        <div class="color-overlay op-7"></div>
        <video autoplay loop muted>
            <source src="{% static "assets/video/wave.mp4" %}" type="video/mp4">
        </video>
    </div>

</div><!-- Section Ends -->

<!-- Section -->

{% include 'layout/blog.html' %}
<!-- Section Ends -->

<div class="container">
    <div class="break-line gold op-3"></div>
</div>

<!-- Section -->

 {% include 'layout/testmonial.html' %}
<!-- Section Ends -->

<!-- Section -->
{% include 'layout/subscribe.html' %}
<!-- Section Ends -->
{% endblock %}