<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Rumon {% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="wokiee">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>
<body>
{#<div id="loader-wrapper">#}
{#    <div id="loader">#}
{#        <div class="dot"></div>#}
{#        <div class="dot"></div>#}
{#        <div class="dot"></div>#}
{#        <div class="dot"></div>#}
{#        <div class="dot"></div>#}
{#        <div class="dot"></div>#}
{#        <div class="dot"></div>#}
{#    </div>#}
{#</div>#}

{% include 'layouts/include/header.html' %}
<!--Header-->
<div id="tt-pageContent">

    {% block content %}

    {% endblock %}
</div>
{% include 'layouts/include/footer.html' %}
<a href="#" class="tt-back-to-top">BACK TO TOP</a>
<!-- modal (AddToCartProduct) -->
<div class="modal  fade" id="modalAddToCartProduct" tabindex="-1" role="dialog" aria-label="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon icon-clear"></span></button>
            </div>
            <div class="modal-body">
                <div class="tt-modal-addtocart mobile">
                    <div class="tt-modal-messages">
                        <i class="icon-f-68"></i> Added to cart successfully!
                    </div>
                    <a href="#" class="btn-link btn-close-popup">CONTINUE SHOPPING</a>
                    <a href="shopping_cart_02.html" class="btn-link">VIEW CART</a>
                    <a href="page404.html" class="btn-link">PROCEED TO CHECKOUT</a>
                </div>
                <div class="tt-modal-addtocart desctope">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="tt-modal-messages">
                                <i class="icon-f-68"></i> Added to cart successfully!
                            </div>
                            <div class="tt-modal-product">
                                <div class="tt-img">
                                    <img src="{% static 'images/loader.svg' %}"
                                         data-src="{% static 'images/product/product-01.jpg' %}" alt="">
                                </div>
                                <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                                <div class="tt-qty">
                                    QTY: <span>1</span>
                                </div>
                            </div>
                            <div class="tt-product-total">
                                <div class="tt-total">
                                    TOTAL: <span class="tt-price">$324</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <a href="#" class="tt-cart-total">
                                There are 1 items in your cart
                                <div class="tt-total">
                                    TOTAL: <span class="tt-price">$324</span>
                                </div>
                            </a>
                            <a href="#" class="btn btn-border btn-close-popup">CONTINUE SHOPPING</a>
                            <a href="shopping_cart_02.html" class="btn btn-border">VIEW CART</a>
                            <a href="#" class="btn">PROCEED TO CHECKOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal (quickViewModal) -->
<div class="modal  fade" id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="icon icon-clear"></span></button>
            </div>
            <div class="modal-body">
                <div class="tt-modal-quickview desctope">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-6">
                            <div class="tt-mobile-product-slider arrow-location-center">
                                <div><img src="{% static 'images/loader.svg' %}"
                                          data-src="{% static 'images/product/product-01.jpg' %}" alt=""></div>
                                <div><img src="{% static 'images/loader.svg' %}"
                                          data-src="{% static 'images/product/product-01-02.jpg' %}" alt=""></div>
                                <div><img src="{% static 'images/loader.svg' %}"
                                          data-src="{% static 'images/product/product-01-03.jpg' %}" alt=""></div>
                                <div><img src="{% static 'images/loader.svg' %}"
                                          data-src="{% static 'images/product/product-01-04.jpg' %}" alt=""></div>
                                <div>
                                    <div class="tt-video-block">
                                        <a href="#" class="link-video"></a>
                                        <video class="movie" src="{% static 'video/video.mp4' %}"
                                               poster="{% static 'video/video_img.jpg' %}"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-6">
                            <div class="tt-product-single-info">
                                <div class="tt-add-info">
                                    <ul>
                                        <li><span>SKU:</span> 001</li>
                                        <li><span>Availability:</span> 40 in Stock</li>
                                    </ul>
                                </div>
                                <h2 class="tt-title">Cotton Blend Fleece Hoodie</h2>
                                <div class="tt-price">
                                    <span class="new-price">$29</span>
                                    <span class="old-price"></span>
                                </div>
                                <div class="tt-review">
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-half"></i>
                                        <i class="icon-star-empty"></i>
                                    </div>
                                    <a href="#">(1 Customer Review)</a>
                                </div>
                                <div class="tt-wrapper">
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </div>
                                <div class="tt-swatches-container">
                                    <div class="tt-wrapper">
                                        <div class="tt-title-options">SIZE</div>
                                        <form class="form-default">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>21</option>
                                                    <option>25</option>
                                                    <option>36</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tt-wrapper">
                                        <div class="tt-title-options">COLOR</div>
                                        <form class="form-default">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Red</option>
                                                    <option>Green</option>
                                                    <option>Brown</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tt-wrapper">
                                        <div class="tt-title-options">TEXTURE:</div>
                                        <ul class="tt-options-swatch options-large">
                                            <li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}"
                                                         data-src="{% static 'images/custom/texture-img-01.jpg' %}"
                                                         alt="">
												</span>
                                                <span class="swatch-label color-black"></span>
                                            </a></li>
                                            <li class="active"><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}"
                                                         data-src="{% static 'images/custom/texture-img-02.jpg' %}"
                                                         alt="">
												</span>
                                                <span class="swatch-label color-black"></span>
                                            </a></li>
                                            <li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}"
                                                         data-src="{% static 'images/custom/texture-img-03.jpg' %}"
                                                         alt="">
												</span>
                                                <span class="swatch-label color-black"></span>
                                            </a></li>
                                            <li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}"
                                                         data-src="{% static 'images/custom/texture-img-04.jpg' %}"
                                                         alt="">
												</span>
                                                <span class="swatch-label color-black"></span>
                                            </a></li>
                                            <li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}"
                                                         data-src="{% static 'images/custom/texture-img-05.jpg' %}"
                                                         alt="">
												</span>
                                                <span class="swatch-label color-black"></span>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tt-wrapper">
                                    <div class="tt-row-custom-01">
                                        <div class="col-item">
                                            <div class="tt-input-counter style-01">
                                                <span class="minus-btn"></span>
                                                <input type="text" value="1" size="5">
                                                <span class="plus-btn"></span>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD TO CART</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'external/jquery/jquery.min.js' %}"></script>
<script src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'external/elevatezoom/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'external/slick/slick.min.js' %}"></script>
<script src="{% static 'external/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'external/panelmenu/panelmenu.js' %}"></script>
<script src="{% static 'external/instafeed/instafeed.min.js' %}"></script>
<script src="{% static 'external/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'external/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'external/countdown/jquery.plugin.min.js' %}"></script>
<script src="{% static 'external/countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'external/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'external/lazyLoad/lazyload.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- form validation and sending to mail -->
<script src="{% static 'external/form/jquery.form.js' %}"></script>
<script src="{% static 'external/form/jquery.validate.min.js' %}"></script>
<script src="{% static 'external/form/jquery.form-init.js' %}"></script>
<script src="{% static 'external/jquery/jquery.min.js' %}"></script>

</html>