{% extends 'layouts/master.html' %}

{% block content %}
<div class="tt-offset-0 container-indent">
		<div class="tt-page404">
			<h1 class="tt-title">THAT PAGE CAN’T BE FOUND.</h1>
			<p>It looks like nothing was found at this location.</p>
			<a href="index.html" class="btn">GO TO HOME</a>
		</div>
	</div>
{% endblock %}