{% extends 'layouts/master.html' %}

{% block content %}
    <div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<h1 class="tt-title-subpages noborder">ACCOUNT</h1>
			<div class="tt-shopping-layout">
				<h2 class="tt-title">YOUR ADDRESS</h2>
				<div class="tt-wrapper">
					<a href="#" class="btn">ADD A NEW ADDRESS</a><br>
					<a href="account.html" class="tt-link-back">
						<i class="icon-h-46"></i> RETURN TO ACCOUNT PAGE
					</a>
				</div>
				<div class="tt-wrapper">
					<h6 class="tt-title">ADD A NEW ADDRESS</h6>
					<div class="form-default">
						<form>
							<div class="form-group">
								<label for="shopInputFirstName" class="control-label">FIRST NAME *</label>
								<input type="text" class="form-control" id="shopInputFirstName">
							</div>
							<div class="form-group">
								<label for="shopInputLastName" class="control-label">LAST NAME *</label>
								<input type="text" class="form-control" id="shopInputLastName">
							</div>
							<div class="form-group">
								<label for="shopCompanyName" class="control-label">COMPANY NAME</label>
								<input type="text" class="form-control" id="shopCompanyName">
							</div>
							<div class="form-group">
								<label for="shopCompanyName" class="control-label">COUNTRY *</label>
								<select class="form-control">
									<option>Country</option>
									<option>Country 02</option>
									<option>Country 03</option>
									<option>Country 04</option>
									<option>Country 05</option>
									<option>Country 06</option>
									<option>Country 07</option>
									<option>Country 08</option>
									<option>Country 09</option>
									<option>Country 10</option>
									<option>Country 11</option>
								</select>
							</div>
							<div class="form-group">
								<label for="shopAddress" class="control-label">ADDRESS *</label>
								<input type="text" class="form-control" id="shopAddress">
							</div>
							<div class="form-group">
								<label for="shopTown" class="control-label">TOWN / CITY *</label>
								<input type="text" class="form-control" id="shopTown">
							</div>
							<div class="form-group">
								<label for="shopState" class="control-label">STATE / COUNTY *</label>
								<input type="text" class="form-control" id="shopState">
							</div>
							<div class="form-group">
								<label for="shopPostCode" class="control-label">POSTCODE / ZIP *</label>
								<input type="text" class="form-control" id="shopPostCode">
							</div>
							<div class="form-group">
								<label for="shopPhone" class="control-label">PHONE</label>
								<input type="text" class="form-control" id="shopPhone">
							</div>
							<div class="form-group">
								<label for="shopEmail" class="control-label">EMAIL ADDRESS *</label>
								<input type="text" class="form-control" id="shopEmail">
							</div>
							<div class="checkbox-group">
								<input type="checkbox" id="checkBox11" name="checkbox">
								<label for="checkBox11">
									<span class="check"></span>
									<span class="box"></span>
									Set as deafult address?
								</label>
							</div>
							<div class="row tt-offset-21">
								<div class="col-auto">
									<button type="submit" class="btn">ADD  ADDRESS</button>
								</div>
								<div class="col-auto align-self-center">
									or	<a href="#" class="tt-link">Cancel</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <h2 class="text-center">Dfretbajdfkjdflkjalfj</h2>
<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<h1 class="tt-title-subpages noborder">ACCOUNT</h1>
			<div class="tt-shopping-layout">
				<h2 class="tt-title">YOUR ADDRESS</h2>
				<div class="tt-wrapper">
					<a href="#" class="btn">ADD A NEW ADDRESS</a><br>
					<a href="account.html" class="tt-link-back">
						<i class="icon-h-46"></i> RETURN TO ACCOUNT PAGE
					</a>
				</div>
				<div class="tt-wrapper">
					<h3 class="tt-title">TITLE</h3>
					<div class="tt-table-responsive">
						<table class="tt-table-shop-02">
							<tbody>
								<tr>
									<td>NAME:</td>
									<td>Lorem ipsum dolor sit AMET conse ctetur </td>
								</tr>
								<tr>
									<td>E-MAIL:</td>
									<td>Ut enim ad minim veniam, quis nostrud </td>
								</tr>
								<tr>
									<td>ADDRESS:</td>
									<td>Eexercitation ullamco laboris nisi ut aliquip ex ea</td>
								</tr>
								<tr>
									<td>ADDRESS 2:</td>
									<td>Commodo consequat. Duis aute irure dol</td>
								</tr>
								<tr>
									<td>COUNTRY:</td>
									<td>Lorem ipsum dolor sit amet conse ctetur</td>
								</tr>
								<tr>
									<td>ZIP:</td>
									<td>555</td>
								</tr>
								<tr>
									<td>PHONE:</td>
									<td>888888888</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tt-shop-btn">
						<a class="btn-link" href="#">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve">
							<g>
								<path d="M2.3,20.4C2.3,20.4,2.3,20.4,2.3,20.4C2.2,20.4,2.2,20.4,2.3,20.4c-0.2,0-0.2,0-0.3,0c-0.1,0-0.1-0.1-0.2-0.1
									c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.2,0-0.3l0.6-5c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0-0.1
									c0,0,0-0.1,0.1-0.1L14.6,2.1C15,1.7,15.4,1.6,16,1.6c0.5,0,1,0.2,1.3,0.5l2.6,2.6c0.4,0.4,0.5,0.8,0.5,1.3c0,0.5-0.2,1-0.5,1.3
									L7.7,19.6c0,0-0.1,0-0.1,0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0L2.3,20.4z M2.9,19.1l2.9-0.4
									l-2.6-2.6L2.9,19.1z M3.7,14.8L5,16.1l9.7-9.7L13.5,5L3.7,14.8z M7.2,18.3L17,8.5l-1.3-1.3L5.9,17L7.2,18.3z M15.5,3l-1.2,1.2
									l3.5,3.5L19,6.5c0.1-0.1,0.2-0.3,0.2-0.4c0-0.2-0.1-0.3-0.2-0.4L16.4,3c-0.1-0.1-0.3-0.2-0.4-0.2C15.8,2.8,15.6,2.8,15.5,3z"></path>
							</g>
							</svg>
							EDIT
						</a>
						<a class="btn-link" href="#"><i class="icon-h-02"></i>DELETE</a>
					</div>
				</div>
				<div class="tt-wrapper">
					<h3 class="tt-title">TITLE</h3>
					<div class="tt-table-responsive">
						<table class="tt-table-shop-02">
							<tbody>
								<tr>
									<td>NAME:</td>
									<td>Lorem ipsum dolor sit AMET conse ctetur </td>
								</tr>
								<tr>
									<td>E-MAIL:</td>
									<td>Ut enim ad minim veniam, quis nostrud </td>
								</tr>
								<tr>
									<td>ADDRESS:</td>
									<td>Eexercitation ullamco laboris nisi ut aliquip ex ea</td>
								</tr>
								<tr>
									<td>ADDRESS 2:</td>
									<td>Commodo consequat. Duis aute irure dol</td>
								</tr>
								<tr>
									<td>COUNTRY:</td>
									<td>Lorem ipsum dolor sit amet conse ctetur</td>
								</tr>
								<tr>
									<td>ZIP:</td>
									<td>555</td>
								</tr>
								<tr>
									<td>PHONE:</td>
									<td>888888888</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tt-shop-btn">
						<a class="btn-link" href="#"><i class="icon-g-25"></i>EDIT</a>
						<a class="btn-link" href="#"><i class="icon-h-02"></i>DELETE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}