{% extends 'layouts/master.html' %}
{% block content %}
<div id="tt-pageContent">
	<div class="container-indent nomargin">
		<div class="tt-contact-box">
			<img class="img-mobile" src="images/custom/contact-img-01.jpg" alt="">
			<div class="container container-fluid-custom-mobile-padding">
				<h1 class="tt-title">WE ARE LOOKING FORWARD <br>TO HEARING FROM YOU</h1>
				<address>
					Address: 2548 Broaddus Maple Court Avenue, Madisonville KY 4783,<br>
					United States of America<br>
					Phone: +777 2345 7885: &nbsp;+777 2345 7886
				</address>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-contact-col-list">
				<div class="row">
					<div class="col-md-4">
						<h5 class="tt-title">RETAIL PARTNERSHIPS</h5>
						<div class="width-90">
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor.
							<br><a class="link" href="mailto:info@mydomain.com">info@mydomain.com</a>
						</div>

					</div>
					<div class="col-md-4">
						<h5 class="tt-title">PRESS &amp; MARKETING</h5>
						<address class="width-90">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							<br><a class="link" href="mailto:info@mydomain.com">info@mydomain.com</a>
						</address>
					</div>
					<div class="col-md-4">
						<h5 class="tt-title">CAREERS</h5>
						<address>
							Ctetur adipisicing elit, sed do eiusmod tempor.
							<br><a class="link" href="mailto:info@mydomain.com">info@mydomain.com</a>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}