{% extends 'layouts/master.html' %}

{% block content %}
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<h1 class="tt-title-subpages">ANSWERS TO YOUR QUESTIONS</h1>
			<h2 class="tt-base-color small">Shopping Information</h2>
			<div class="tt-box-faq-listing">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">WHAT SHIPPING METHODS ARE AVAILABLE?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
							<p>
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
							</p>
						</div>
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">HOW LONG WILL IT TAKE TO GET MY PACKAGE?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">DO YOU SHIP INTERNATIONALLY?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						</div>
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">WHAT SHIPPING METHODS ARE AVAILABLE?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
			</div>
			<hr class="hr-01">
			<h2 class="tt-base-color small">Payment Information</h2>
			<div class="tt-box-faq-listing">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">WHAT PAYMENT METHODS ARE ACCEPTED?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">IS BUYING ON-LINE SAFE?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						</div>
					</div>
				</div>
			</div>
			<hr class="hr-01">
			<h2 class="tt-base-color small">Orders and Returns</h2>
			<div class="tt-box-faq-listing">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">HOW DO I PLACE AN ORDER?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">DO I NEED AN ACCOUNT TO PLACE AN ORDER?</a></h6>
							Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">WHO SHOULD I TO CONTACT IF I HAVE ANY QUERIES?</a></h6>
							Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">HOW CAN I CANCEL OR CHANGE MY ORDER?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						</div>
						<div class="tt-box-faq">
							<h6 class="tt-title"><a href="#">HOW DO I TRACK MY ORDER?</a></h6>
							Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}