{% extends 'layouts/master.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'images/slides/08/slide-01.jpg' %}" height="200" width="100%" alt="slide1"
         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


    <div class="container-indent">
		<!-- mobile product slider  -->
		<div class="tt-mobile-product-layout visible-xs">
			<div class="tt-mobile-product-slider arrow-location-center slick-animated-show-js slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
				<div aria-live="polite" class="slick-list draggable" style="height: 100px;"><div class="slick-track" role="listbox" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 0px;">
					<div class="tt-video-block">
						<a href="#" class="link-video" tabindex="-1"></a>
						<video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
					</div>
				</div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 0px;"><img src="images/product/product-32.jpg" alt=""></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 0px;"><img src="images/product/product-32-01.jpg" alt=""></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 0px;"><img src="images/product/product-32-02.jpg" alt=""></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 0px;"><img src="images/product/product-32-03.jpg" alt=""></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide14" style="width: 0px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/GhyKqj_P2E4" allowfullscreen=""></iframe>
					</div>
				</div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide15" style="width: 0px;">
					<div class="tt-video-block">
						<a href="#" class="link-video" tabindex="-1"></a>
						<video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
					</div>
				</div><div class="slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 0px;"><img src="images/product/product-32.jpg" alt=""></div></div></div>





			<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button></div>
		</div>
		<!-- /mobile product slider  -->
		<div class="container container-mobile-airSticky">
			<div class="row airSticky_stop-block">
				<div class="col-6 hidden-xs">
					<div class="product-images-static hidden-xs">
						<ul data-scrollzoom="false">
							<li><img class="zoom-product" src="images/product/product-32.jpg" alt=""></li>
							<li><img class="zoom-product" src="images/product/product-32-01.jpg" alt=""></li>
							<li><img class="zoom-product" src="images/product/product-32-02.jpg" alt=""></li>
							<li><img class="zoom-product" src="images/product/product-32-03.jpg" alt=""></li>
							<li>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item loading" src="http://www.youtube.com/embed/GhyKqj_P2E4" allowfullscreen="" data-was-processed="true"></iframe>
								</div>
							</li>
							<li>
								<div class="tt-video-block">
									<a href="#" class="link-video"></a>
									<video class="movie" src="video/video.mp4" poster="video/video_img.jpg" data-was-processed="true"></video>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-6">
					<div class="airSticky airSticky_relative" style="width: 580px; position: relative; top: auto;">
						<div class="tt-product-single-info">
							<div class="tt-add-info">
								<ul>
									<li><span>SKU:</span> 001</li>
									<li><span>Availability:</span> 40 in Stock</li>
								</ul>
							</div>
							<h1 class="tt-title">Cotton Blend Fleece Hoodie</h1>
							<div class="tt-price">
								<span class="new-price">$29</span>
								<span class="old-price"></span>
							</div>
							<div class="tt-review">
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-half"></i>
									<i class="icon-star-empty"></i>
								</div>
								<a href="#">(1 Customer Review)</a>
							</div>
							<div class="tt-wrapper">
								Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							</div>
							<div class="tt-wrapper">
								<div class="tt-row-custom-01">
									<div class="col-item">
										<div class="tt-input-counter style-01">
											<span class="minus-btn"></span>
											<input type="text" value="1" size="5">
											<span class="plus-btn"></span>
										</div>
									</div>
									<div class="col-item">
										<a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD TO CART</a>
									</div>
								</div>
							</div>
							<div class="tt-wrapper">
								<ul class="tt-list-btn">
									<li><a class="btn-link" href="#"><i class="icon-n-072"></i>ADD TO WISH LIST</a></li>
									<li><a class="btn-link" href="#"><i class="icon-n-08"></i>ADD TO COMPARE</a></li>
								</ul>
							</div>
							<div class="tt-wrapper">
								<div class="tt-add-info">
									<ul>
										<li><span>Vendor:</span> Polo</li>
										<li><span>Product Type:</span> T-Shirt</li>
										<li><span>Tag:</span> <a href="#">T-Shirt</a>, <a href="#">Women</a>, <a href="#">Top</a></li>
									</ul>
								</div>
							</div>
							<div class="tt-collapse-block">
								<div class="tt-item">
									<div class="tt-collapse-title">DESCRIPTION</div>
									<div class="tt-collapse-content">
										Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
									</div>
								</div>
								<div class="tt-item">
									<div class="tt-collapse-title">ADDITIONAL INFORMATION</div>
									<div class="tt-collapse-content">
										<table class="tt-table-03">
											<tbody>
												<tr>
													<td>Color:</td>
													<td>Blue, Purple, White</td>
												</tr>
												<tr>
													<td>Size:</td>
													<td>20, 24</td>
												</tr>
												<tr>
													<td>Material:</td>
													<td>100% Polyester</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tt-item">
									<div class="tt-collapse-title">REVIEWS (3)</div>
									<div class="tt-collapse-content">
										<div class="tt-review-block">
											<div class="tt-row-custom-02">
												<div class="col-item">
													<h2 class="tt-title">
														1 REVIEW FOR VARIABLE PRODUCT
													</h2>
												</div>
												<div class="col-item">
													<a href="#">Write a review</a>
												</div>
											</div>
											<div class="tt-review-comments">
												<div class="tt-item">
													<div class="tt-avatar">
														<a href="#"><img src="images/product/single/review-comments-img-01.jpg" alt=""></a>
													</div>
													<div class="tt-content">
														<div class="tt-rating">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-half"></i>
															<i class="icon-star-empty"></i>
														</div>
														<div class="tt-comments-info">
															<span class="username">by <span>ADRIAN</span></span>
															<span class="time">on January 14, 2017</span>
														</div>
														<div class="tt-comments-title">Very Good!</div>
														<p>
															Ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
														</p>
													</div>
												</div>
												<div class="tt-item">
													<div class="tt-avatar">
														<a href="#"><img src="images/product/single/review-comments-img-02.jpg" alt=""></a>
													</div>
													<div class="tt-content">
														<div class="tt-rating">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-half"></i>
															<i class="icon-star-empty"></i>
														</div>
														<div class="tt-comments-info">
															<span class="username">by <span>JESICA</span></span>
															<span class="time">on January 14, 2017</span>
														</div>
														<div class="tt-comments-title">Bad!</div>
														<p>
															Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
														</p>
													</div>
												</div>
												<div class="tt-item">
													<div class="tt-avatar">
														<a href="#"></a>
													</div>
													<div class="tt-content">
														<div class="tt-rating">
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star"></i>
															<i class="icon-star-half"></i>
															<i class="icon-star-empty"></i>
														</div>
														<div class="tt-comments-info">
															<span class="username">by <span>ADAM</span></span>
															<span class="time">on January 14, 2017</span>
														</div>
														<div class="tt-comments-title">Very Good!</div>
														<p>
															Diusmod tempor incididunt ut labore et dolore magna aliqua.
														</p>
													</div>
												</div>
											</div>
											<div class="tt-review-form">
												<div class="tt-message-info">
													BE THE FIRST TO REVIEW <span>“BLOUSE WITH SHEER &amp; SOLID PANELS”</span>
												</div>
												<p>Your email address will not be published. Required fields are marked *</p>
												<div class="tt-rating-indicator">
													<div class="tt-title">
														YOUR RATING *
													</div>
													<div class="tt-rating">
														<i class="icon-star"></i>
														<i class="icon-star"></i>
														<i class="icon-star"></i>
														<i class="icon-star-half"></i>
														<i class="icon-star-empty"></i>
													</div>
												</div>
												<form class="form-default">
													<div class="form-group">
														<label for="inputName" class="control-label">YOUR NAME *</label>
														<input type="email" class="form-control" id="inputName" placeholder="Enter your name">
													</div>
													<div class="form-group">
														<label for="inputEmail" class="control-label">COUPONE E-MAIL *</label>
														<input type="password" class="form-control" id="inputEmail" placeholder="Enter your e-mail">
													</div>
													<div class="form-group">
														<label for="textarea" class="control-label">YOUR REVIEW *</label>
														<textarea class="form-control" id="textarea" placeholder="Enter your review" rows="8"></textarea>
													</div>
													<div class="form-group">
														<button type="submit" class="btn">SUBMIT</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="container-indent wrapper-social-icon">
        <div class="container">
            <ul class="tt-social-icon justify-content-center">
                <li><a class="icon-g-64" href="http://www.facebook.com/"></a></li>
                <li><a class="icon-h-58" href="http://www.facebook.com/"></a></li>
                <li><a class="icon-g-66" href="http://www.twitter.com/"></a></li>
                <li><a class="icon-g-67" href="http://www.google.com/"></a></li>
                <li><a class="icon-g-70" href="https://instagram.com/"></a></li>
            </ul>
        </div>
    </div>
    <div class="container-indent">
        <div class="container container-fluid-custom-mobile-padding">
            <div class="tt-block-title text-left">
                <h3 class="tt-title-small">RELATED PRODUCT</h3>
            </div>
            <div class="tt-carousel-products row arrow-location-right-top tt-alignment-img tt-layout-product-item slick-animated-show-js slick-initialized slick-slider">
                <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous"
                        role="button" style="">Previous
                </button>
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox"
                         style="opacity: 1; width: 3900px; transform: translate3d(-1200px, 0px, 0px);">
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="-4"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-17.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-17-01.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star-half"></i>
                                            <i class="icon-star-empty"></i>
                                        </div>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $8
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="-3"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-18.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-18-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $46
                                    </div>
                                    <div class="tt-option-block">
                                        <ul class="tt-options-swatch">
                                            <li><a class="options-color tt-color-bg-01" href="#" tabindex="-1"></a></li>
                                            <li><a class="options-color tt-color-bg-02" href="#" tabindex="-1"></a></li>
                                        </ul>
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="-2"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-19.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-19-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                        </div>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $35
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="-1"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-14.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-14-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $12
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-current slick-active" data-slick-index="0"
                             aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00"
                             style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="0"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="product.html" tabindex="0">
                                        <span class="tt-img"><img src="{% static  'images/product/product-16.jpg' %}"
                                                                  alt=""
                                                                  class="loading" data-was-processed="true"></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-16-02.jpg' %}"
                                                alt="" class="loading"
                                                data-was-processed="true"></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="0">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="0">Flared Shift Dress</a></h2>
                                    <div class="tt-price">
                                        $24
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="0">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="0"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="0"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="0"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-active" data-slick-index="1"
                             aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01"
                             style="width: 300px;">
                            <div class="tt-product thumbprod-center" style="">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="0"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="product.html" tabindex="0">
                                        <span class="tt-img"><img src="{% static  'images/product/product-17.jpg' %}"
                                                                  alt=""
                                                                  class="loading" data-was-processed="true"></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-17-01.jpg' %}"
                                                alt="" class="loading"
                                                data-was-processed="true"></span>
                                    </a>
                                </div>
                                <div class="tt-description" style="">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="0">T-SHIRTS</a></li>
                                        </ul>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star-half"></i>
                                            <i class="icon-star-empty"></i>
                                        </div>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="0">Flared Shift Dress</a></h2>
                                    <div class="tt-price">
                                        $8
                                    </div>
                                    <div class="tt-product-inside-hover" style="">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="0">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="0"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="0"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="0"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-active" data-slick-index="2"
                             aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02"
                             style="width: 300px;">
                            <div class="tt-product thumbprod-center" style="">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="0"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="product.html" tabindex="0">
                                        <span class="tt-img"><img src="{% static  'images/product/product-18.jpg' %}"
                                                                  alt=""
                                                                  class="loading" data-was-processed="true"></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-18-02.jpg' %}"
                                                alt="" class="loading"
                                                data-was-processed="true"></span>
                                    </a>
                                </div>
                                <div class="tt-description" style="">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="0">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="0">Flared Shift Dress</a></h2>
                                    <div class="tt-price">
                                        $46
                                    </div>
                                    <div class="tt-option-block">
                                        <ul class="tt-options-swatch">
                                            <li><a class="options-color tt-color-bg-01" href="#" tabindex="0"></a></li>
                                            <li><a class="options-color tt-color-bg-02" href="#" tabindex="0"></a></li>
                                        </ul>
                                    </div>
                                    <div class="tt-product-inside-hover" style="">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="0">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="0"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="0"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="0"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-active" data-slick-index="3"
                             aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03"
                             style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="0"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="0"></a>
                                    <a href="product.html" tabindex="0">
                                        <span class="tt-img"><img src="{% static  'images/product/product-19.jpg' %}"
                                                                  alt=""
                                                                  class="loading" data-was-processed="true"></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-19-02.jpg' %}"
                                                alt="" class="loading"
                                                data-was-processed="true"></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="0">T-SHIRTS</a></li>
                                        </ul>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                        </div>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="0">Flared Shift Dress</a></h2>
                                    <div class="tt-price">
                                        $35
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="0">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="0"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="0"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="0"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide" data-slick-index="4" aria-hidden="true"
                             tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-14.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-14-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $12
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="5"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-16.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-16-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $24
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="6"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-17.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-17-01.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star-half"></i>
                                            <i class="icon-star-empty"></i>
                                        </div>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $8
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="7"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-18.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-18-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $46
                                    </div>
                                    <div class="tt-option-block">
                                        <ul class="tt-options-swatch">
                                            <li><a class="options-color tt-color-bg-01" href="#" tabindex="-1"></a></li>
                                            <li><a class="options-color tt-color-bg-02" href="#" tabindex="-1"></a></li>
                                        </ul>
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-md-4 col-lg-3 slick-slide slick-cloned" data-slick-index="8"
                             aria-hidden="true" tabindex="-1" style="width: 300px;">
                            <div class="tt-product thumbprod-center">
                                <div class="tt-image-box">
                                    <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                       data-target="#ModalquickView" data-tooltip="Quick View" data-tposition="left"
                                       tabindex="-1"></a>
                                    <a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="#" class="tt-btn-compare" data-tooltip="Add to Compare"
                                       data-tposition="left" tabindex="-1"></a>
                                    <a href="product.html" tabindex="-1">
                                        <span class="tt-img"><img src="{% static  'images/product/product-19.jpg' %}"
                                                                  alt=""></span>
                                        <span class="tt-img-roll-over"><img
                                                src="{% static  'images/product/product-19-02.jpg' %}"
                                                alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <div class="tt-row">
                                        <ul class="tt-add-info">
                                            <li><a href="#" tabindex="-1">T-SHIRTS</a></li>
                                        </ul>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                        </div>
                                    </div>
                                    <h2 class="tt-title"><a href="product.html" tabindex="-1">Flared Shift Dress</a>
                                    </h2>
                                    <div class="tt-price">
                                        $35
                                    </div>
                                    <div class="tt-product-inside-hover">
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal"
                                               data-target="#modalAddToCartProduct" tabindex="-1">ADD TO CART</a>
                                        </div>
                                        <div class="tt-row-btn">
                                            <a href="#" class="tt-btn-quickview" data-toggle="modal"
                                               data-target="#ModalquickView" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-wishlist" tabindex="-1"></a>
                                            <a href="#" class="tt-btn-compare" tabindex="-1"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button"
                        style="">Next
                </button>
            </div>
        </div>
    </div>

    <!-- modalVideoProduct -->
    <div class="modal fade" id="modalVideoProduct" tabindex="-1" role="dialog" aria-label="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-video">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-video-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal (ModalSubsribeGood) -->
    <div class="modal  fade" id="ModalSubsribeGood" tabindex="-1" role="dialog" aria-label="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="tt-modal-subsribe-good">
                        <i class="icon-f-68"></i> You have successfully signed!
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




