{% load static  %}
<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Change path logo here -->
            <a class="navbar-brand logo" href="#"><img src="{% static "assets/img/logo.png" %}" alt="Exodus"
                                                       class="img-fluid"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="animated-icon"><span></span><span></span><span></span></span>
            </button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#promo">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "about" %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="promo-page.html">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "post" %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="contact-page.html"><i class="far fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>