{% load static %}
<div class="container-indent nomargin">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-revolution revolution-default">
                <div class="tp-banner-container">
                    <div class="tp-banner revolution">
                        <ul>
                            <li data-thumb="{% static 'images/slides/08/slide-01.jpg' %}" data-transition="fade"
                                data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"
                                data-title="Slide">
                                <img src="{% static 'images/slides/08/slide-01.jpg' %}" alt="slide1"
                                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption tp-caption1 lft stb"
                                     data-x="center"
                                     data-y="center"
                                     data-hoffset="0"
                                     data-voffset="0"
                                     data-speed="600"
                                     data-start="900"
                                     data-easing="Power4.easeOut"
                                     data-endeasing="Power4.easeIn">
                                    <div class="tp-caption1-wd-1 tt-base-color">Oberlo</div>
                                    <div class="tp-caption1-wd-2 tt-white-color">Find Products for<br>Shop Store
                                    </div>
                                    <div class="tp-caption1-wd-3 tt-white-color">Oberlo allows you to easily import
                                        dropshipped products directly into your ecommerce store
                                    </div>
                                    <div class="tp-caption1-wd-4"><a href="listing-left-column.html"
                                                                     class="btn btn-xl" data-text="SHOP NOW!">SHOP
                                        NOW!</a></div>
                                </div>
                            </li>
                            <li data-thumb="{% static 'images/slides/08/slide-02.jpg' %}" data-transition="fade"
                                data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"
                                data-title="Slide">
                                <img src="{% static 'images/slides/08/slide-02.jpg' %}" alt="slide1"
                                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption tp-caption1 lft stb"
                                     data-x="center"
                                     data-y="center"
                                     data-hoffset="0"
                                     data-voffset="0"
                                     data-speed="600"
                                     data-start="900"
                                     data-easing="Power4.easeOut"
                                     data-endeasing="Power4.easeIn">
                                    <div class="tp-caption1-wd-1 tt-white-color">Ready To</div>
                                    <div class="tp-caption1-wd-2 tt-white-color">Ready To<br>Demos</div>
                                    <div class="tp-caption1-wd-3 tt-white-color">Optimized for speed, website that
                                        sells
                                    </div>
                                    <div class="tp-caption1-wd-4"><a href="listing-left-column.html"
                                                                     class="btn btn-xl" data-text="SHOP NOW!">SHOP
                                        NOW!</a></div>
                                </div>
                            </li>
                            <li data-thumb="{% static 'images/slides/08/slide-03.jpg' %}" data-transition="fade"
                                data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"
                                data-title="Slide">
                                <img src="{% static 'images/slides/08/slide-03.jpg' %}" alt="slide1"
                                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption tp-caption1 lft stb"
                                     data-x="center"
                                     data-y="center"
                                     data-hoffset="0"
                                     data-voffset="0"
                                     data-speed="600"
                                     data-start="900"
                                     data-easing="Power4.easeOut"
                                     data-endeasing="Power4.easeIn">
                                    <div class="tp-caption1-wd-1 tt-white-color">Multipurpose</div>
                                    <div class="tp-caption1-wd-2 tt-white-color">Premium<br>Html Template</div>
                                    <div class="tp-caption1-wd-3 tt-white-color">30 skins, powerful features, great
                                        support, exclusive offer
                                    </div>
                                    <div class="tp-caption1-wd-4"><a href="listing-left-column.html"
                                                                     class="btn btn-xl" data-text="SHOP NOW!">SHOP
                                        NOW!</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>