{% load static %}
<div class="section white">
    <div class="container" id="posts">
<div class="content center">

            <h5 class="t-black">THE BLOG</h5>
            <span class="line gold"></span>
            <h2 class="t-black">Latest from the <span class="t-gold">Blog</span></h2>
            <div class="row text-justify mt-50">

                <!-- Info Box -->
                <div class="col-lg-4 left">
                    <div class="post-item">
                        <img src="{% static "assets/img/ft-1.jpg" %}" alt="exodus" class="img-fluid main">
                        <a href="blog-detail.html"><h4 class="t-black">Discovering Mikonos</h4></a>
                        <div class="info-box-detail left">
                            <div class="post-info">By: <a class="author t-gold">Angela Manscori</a></div>
                            <div class="post-views">
                                <img src="{% static "assets/img/user1.jpg" %}" alt="exodus" class="img-fluid">
                                <img src="{% static "assets/img/user2.jpg" %}" alt="exodus" class="img-fluid">
                                <img src="{% static "assets/img/user3.jpg" %}" alt="exodus" class="img-fluid">
                                <span class="count">+110</span>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->

                <!-- Info Box -->
                <div class="col-lg-4 left">
                    <div class="post-item">
                        <img src="{% static "assets/img/ft-2.jpg" %}" alt="exodus" class="img-fluid main">
                        <a href="blog-detail.html"><h4 class="t-black">The Island of Vulcano</h4></a>
                        <div class="info-box-detail left">
                            <div class="post-info">By: <a class="author t-gold">Nissur Al Bettur</a></div>
                            <div class="post-views">
                                <img src="{% static "assets/img/user1.jpg" %}" alt="exodus" class="img-fluid">
                                <img src="{% static "assets/img/user2.jpg" %}" alt="exodus" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div><!-- End -->

                <!-- Info Box -->
                <div class="col-lg-4 left">
                    <div class="post-item">
                        <img src="{% static "assets/img/ft-3.jpg" %}" alt="exodus" class="img-fluid main">
                        <a href="blog-detail.html"><h4 class="t-black">Cathedral in the Sea</h4></a>
                        <div class="info-box-detail left">
                            <div class="post-info">By: <a class="author t-gold">Jesus A. Barrero</a></div>
                            <div class="post-views">
                                <img src="{% static "assets/img/user1.jpg" %}" alt="exodus" class="img-fluid">
                                <img src="{% static "assets/img/user2.jpg" %}" alt="exodus" class="img-fluid">
                                <img src="{% static "assets/img/user3.jpg" %}" alt="exodus" class="img-fluid">
                                <span class="count">+234</span>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div>
            </div>
</div>