<footer>
    <div class="container">
        <div class="links t-black">
            <a>Explore</a>
            <a>About</a>
            <a>Promotions</a>
            <a>Blog</a>
            <a>Contact</a>
        </div>
        <div class="copyright t-grey center">2019 - All rights reserved to &copy;Exodus</div>
    </div>
</footer>