<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
{% load static  %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keyword %}{% endblock %}"/>
    <meta name="Resource-type" content="Document"/>

    <!-- Upload Font "https://fonts.google.com/" -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <!-- Styles CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/az-styles.css" %}"/>
    <!-- Load Font Awesome Kit -->
    <script src="{% static "js/747940bb1c.js" %}"></script>
    <!-- Load Animate CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/animate.css" %}">
    <!-- Load AOS CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/aos.css" %}">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/slick-theme.css" %}">

</head>
<body class="white">

<!-- Main Content Starts -->
<header class="b-gold">
{%  include  'layout/include/navbar.html' %}
</header>


<!--Content-->
{% block content %}
{% endblock %}
<!-- Footer -->
{% include 'layout/footer.html' %}

<!-- JS files upload -->
<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/validator.min.js" %}"></script>
<script src="{% static "js/contact.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/aos.js" %}"></script>

</body>
</html>