{% load static %}
<div class="slider-container">
            <div id="slide-item" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Slider Navigation -->
                    <ol class="carousel-indicators">
                        <li data-target="#slide-item" data-slide-to="0" class="active white"></li>
                        <li data-target="#slide-item" data-slide-to="1" class="white"></li>
                        <li data-target="#slide-item" data-slide-to="2" class="white"></li>
                    </ol>

                    <!-- Slide -->
                    <div class="carousel-item active">
                        <div class="img-container slide five">
                            <div class="content-box">
                                <div class="content-data">
                                    <h5 class="t-white">Breath-taking views</h5>
                                    <span class="line gold"></span>
                                    <div class="display t-white" data-aos="fade-down"
                                         data-aos-anchor-placement="center-bottom">Experience <span
                                            class="ft-word">epic</span> beauty
                                    </div>
                                    <a href="promo-page.html" data-aos="fade-up"
                                       data-aos-anchor-placement="center-bottom"
                                       class="primary-btn no-bg large border-2 b-white white t-white">Explore</a>
                                </div>
                            </div>
                            <div class="gradient-overlay op-5"></div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="carousel-item">
                        <div class="img-container slide two">
                            <div class="content-box">
                                <div class="content-data">
                                    <h5 class="t-white">magical desert</h5>
                                    <span class="line gold"></span>
                                    <div class="display t-white" data-aos="fade-down"
                                         data-aos-anchor-placement="center-bottom">Deep <span
                                            class="ft-word">inside</span> the Sahara
                                    </div>
                                    <a href="#promo" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
                                       class="primary-btn large border-2 b-brick dark-burgundy t-white">View 30% off
                                        Promotion</a>
                                </div>
                            </div>
                            <div class="gradient-overlay op-5"></div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="carousel-item">
                        <div class="img-container slide three">
                            <div class="content-box">
                                <div class="content-data">
                                    <h5 class="t-white">misty mountains</h5>
                                    <span class="line white"></span>
                                    <div class="display t-white" data-aos="fade-down"
                                         data-aos-anchor-placement="center-bottom">Amazing <span class="ft-word">Scotland</span>
                                    </div>
                                    <a href="promo-detail.html" data-aos="fade-up"
                                       data-aos-anchor-placement="center-bottom"
                                       class="primary-btn light-blue large t-dark-clay">discover now</a>
                                </div>
                            </div>
                            <div class="gradient-overlay op-5"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>