{% load static %}
<div class="section back four">
    <div class="container center">
        <div class="banner white square">
            <h5 class="t-gold">NEWSLETTER</h5>
            <span class="line black"></span>
            <h2 class="t-black">Don't <span class="t-gold">miss</span> it!</h2>
            <h6 class="center">Subscribe to our newsletter for special promotions & cool updates.</h6>
            <div id="fields">

                <!-- CONTACT Form-->
                <form id="contact-form" method="POST"
                      action="http://www.schintudesign.com/envato/exodus/php/contact.php">
                    <div id="note" class="messages t-dark"></div>
                    <div class="controls center newsletter">

                        <!-- form-group-->
                        <div class="form-group">
                            <div class="input-item form-group">
                                <input id="form_email" type="email" name="email" class="form-control light-grey"
                                       placeholder="Email address*" required="required"
                                       data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="help-block with-errors"></div>
                            <input type="submit" name="submit" id="submit"
                                   class="primary-btn large square-bl square-tl black t-snow" value="Send">
                        </div>
                    </div>
                </form><!-- END CONTACT Form-->
            </div>
        </div>
        <h5 class="t-black mt-100">stay connected</h5>
        <span class="line gold "></span>
        <div class="social-container m-20 center">
            <a href="#" class="primary-btn white icon t-gold"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="primary-btn white icon t-gold"><i class="fab fa-instagram"></i></a>
            <a href="#" class="primary-btn white icon t-gold"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>