{% load static %}
<div id="testimonial" class="section white ">
 <div class="container center">
        <h5 class="t-black">TESTIMONIALS</h5>
        <span class="line gold"></span>
        <h2 class="t-black">Our <span class="t-gold">clients</span> say:</h2>

        <!-- TESTIMONIALS -->
        <div class="testimonial-container">
            <div id="t-item" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#t-item" data-slide-to="0" class="active gold"></li>
                    <li data-target="#t-item" data-slide-to="1" class="gold"></li>
                    <li data-target="#t-item" data-slide-to="2" class="gold"></li>
                </ol>
                <div class="carousel-inner content">

                    <!-- Testimonial Item -->
                    <div class="carousel-item active">
                        <div class="item">
                            <div class="img center">
                                <img src="{% static "assets/img/user2.jpg" %}" alt="Exodus" class="img-fluid">
                            </div>
                            <h6 class="text t-black">A must-have template. Maybe one of the best vintage templates so
                                far in the market. Recommended 100%.</h6>
                            <div class="name t-black">MARIA De ANDRE'</div>
                            <div class="role t-dark-clay">Artist</div>
                        </div>
                    </div>

                    <!-- Testimonial Item -->
                    <div class="carousel-item">
                        <div class="item">
                            <div class="img center">
                                <img src="{% static "assets/img/user1.jpg" %}" alt="Exodus" class="img-fluid">
                            </div>
                            <h6 class="text t-black">Extremelly flexible and easy to use. Code is clean and all files
                                well organized. Great job guys.</h6>
                            <div class="name t-black">JOHN E. PERRY</div>
                            <div class="role t-dark-clay">Moravian Ltd - CEO</div>
                        </div>
                    </div>

                    <!-- Testimonial Item -->
                    <div class="carousel-item">
                        <div class="item ">
                            <div class="img center">
                                <img src="{% static "assets/img/user3.jpg" %}" alt="Exodus" class="img-fluid">
                            </div>
                            <h6 class="text t-black">Fast, easy, reliable, fun, flexible, modern. Many options, colors,
                                widgets. +++</h6>
                            <div class="name t-black">LINDA FALANGY</div>
                            <div class="role t-dark-clay">Graphic Designer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>