{% extends 'master.html' %}

{% block title %}
Order Place
{% endblock %}


{% block content %}
<form action="" method="post">
{% csrf_token %}
{{formSet.management_form}}
{% for form in formSet %}
{{ form }}
<hr>
{% endfor %}

<button class="btn btn-success" type="submit">Place Order</button>
</form>
{% endblock %}