{% extends 'master.html' %}

{% block title %}
Customer
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'order_create' customer.id %}">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Name: {{ customer.name }}</p>
			<p>Email: {{ customer.email }}</p>
			<p>Phone: {{ customer.phone }}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ orders.count }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get" action="">
               {{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Order</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
                <tbody>
                {% for order in orders %}
                <tr>
					<th>{{ order.product.name }}</th>
					<th>{{ order.product.category }}</th>
					<th>{{ order.create_at }}</th>
					<th>{{order.status}}</th>
					  <td>
                                    <a href="{% url 'order_update' order.id %}" class="btn btn-primary">Update</a>
                                    <a href="{% url 'order_delete' order.id %}" class="btn btn-warning">Delete</a>
                                </td>
				</tr>
                {% endfor %}

                </tbody>

			</table>
		</div>
	</div>
</div>
{% endblock %}