{% extends 'master.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {% include 'status.html' %}
    <div class="">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Customers</h3>
                        <button class="btn btn-primary btn-block">Create Customer</button>
                    </div>
                    <div class="card-body">
                        <table class="table  table-response">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{% url 'customers' customer.id %}" class="nav-link">{{ customer.name }}</a></td>
                                    <td>{{ customer.email }}<br>
                                        {{ customer.phone }}</td>
                                    <td>{{ customer.date_create }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="card">
{#                    <div class="card-header">#}
{#                        <h3 class="card-title">Order</h3>#}
{#                        <a class="btn btn-primary btn-block" href="{% url 'order_create' %}">Create Order</a>#}
{#                    </div>#}
                    <div class="card-body">
                        <table class="table table-response">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for order in orders %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ order.customer.name }}</td>
                                    <td>{{ order.product.name }}<br>
                                        {{ order.product.price }}</td>
                                    <td>{{ order.status }}</td>
                                <td>
                                    <a href="{% url 'order_update' order.id %}" class="btn btn-primary">Update</a>
                                    <a href="{% url 'order_delete' order.id %}" class="btn btn-warning">Delete</a>
                                </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}