{% extends 'master.html' %}

{% block title %}
Product
{% endblock %}

{% block content %}
<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
						</tr>

                        {% for item in  products %}
                            <tr>
							<td>{{item.name}}</td>
							<td>{{ item.category }}</td>
							<td>{{ item.price }}</td>
                            <td>
                                {% for tag in item.tag.all %}
<span class="badge badge-primary">{{ tag.name }} </span>
                                {% endfor %}

							</td>
						</tr>
                            {% endfor %}




					</table>
				</div>
			</div>

		</div>
{% endblock %}