
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title text-primary">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title text-primary">{{total_order}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title text-warning">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title text-primary">{{delivered_order}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title text-primary">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title text-primary">{{pending_order}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>